.SearchInput__dropdownMenu {
    max-height: 300px;
    overflow-y: auto;

    .card {
        &:hover {
            background-color: rgba(0,0,0,.1);
        }
        transition: all 0.3s ease;
    }
}