.MainRouter{
    height: 100vh;
    overflow: auto;
    // &__content {
    //     background-color: transparent !important;
    // }
}

.Login{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}